APP_ENV=local
APP_DEBUG=true
APP_KEY=yAPDRhs8fWG99jUN0G5Go6k6W7R3ojLQ

DB_HOST=localhost
DB_DATABASE=proyectofinal
DB_USERNAME=root
DB_PASSWORD=''

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=bj.devreugd@gmail.com
MAIL_PASSWORD=tolo1991
MAIL_FROM=bj.devreugd@gmail.com
MAIL_NAME=YOUR-Bartolome-Jordan
MAIL_ENCRYPTION=tls