/*CSS CUSTO MASTER*/
#cuerpo {
   /* background-color: rgba(242, 242, 242, 0.33);*/

}
#eventForm .form-control-feedback {
    top: 0;
    right: -15px;
}
.dropdown-toggle {
    margin-top: 20px;
}
.btn-lg, .btn-group-lg > .btn {
    padding: 5px 5px;
}
.label-info {
    font-weight: bold;
    font-size: 140%;
}
.inform {
    font-weight: lighter;
}
footer {
    color: #85C5F5;
}
.nav .navbar-nav #mainNav {

    color: #82CDFD;
}
#slider1_container img {
    top: -41px !important;
}
#logo {
    height: 80px;
    width: 150px;
    margin-left: 15px;
}
#login {
    color: white;
    background-color: orange;
    font-weight: bold;
    border-color: orange;
}
#login:hover {
    background-color: white;
    color: orange;
    border-color: orange;
}
/*Custom img app*/
.imgapp{
    margin-left: -15px;
}
#RegistProfe {
    color: white;
    background-color: orange;
    font-weight: bold;
    border-color: orange;
}
#RegistProfe:hover {
    background-color: white;
    color: orange;
    border-color: orange;
}
.RegistPadreAlum {
    color: white;
    background-color: #6699FF;
    font-weight: bold;
    border-color: #6699FF;
}
.RegistPadreAlum:hover {
    background-color: white;
    color: #6699FF;
    border-color: #6699FF;
}
#tagline {

    color: #56AFF1;
    position: absolute;
    margin-top: 10px;
}
/* CSS Custom Tabls */

/* CSS Custom Perfil*/

#cuerpo {
     background: #F1F3FA;
 }

/* Profile container */
.profile {
    margin: 20px 0;
}

/* Profile sidebar */
.profile-sidebar {
    padding: 20px 0 10px 0;
    background: #fff;
}

.profile-userpic img {
    float: none;
    margin: 0 auto;
    width: 40%;
    height: 40%;
    -webkit-border-radius: 50% !important;
    -moz-border-radius: 50% !important;
    border-radius: 50% !important;
}

.profile-usertitle {
    text-align: center;
    margin-top: 20px;
}

.profile-usertitle-name {
    color: #5a7391;
    font-size: 16px;
    font-weight: 600 px;
    margin-bottom: 7px;
}

.profile-usertitle-job {
    text-transform: uppercase;
    color: #5b9bd1;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 15px;
}

.profile-userbuttons {
    text-align: center;
    margin-top: 10px;
}

.profile-userbuttons .btn {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 6px 15px;
    margin-right: 5px;
}

.profile-userbuttons .btn:last-child {
    margin-right: 0px;
}

.profile-usermenu {
    margin-top: 30px;
}

.profile-usermenu ul li {
    border-bottom: 1px solid #f0f4f7;
}

.profile-usermenu ul li:last-child {
    border-bottom: none;
}

.profile-usermenu ul li a {
    color: #93a3b5;
    font-size: 14px;
    font-weight: 400px;
}

.profile-usermenu ul li a i {
    margin-right: 8px;
    font-size: 14px;
}

.profile-usermenu ul li a:hover {
    background-color: #fafcfd;
    color: #5b9bd1;
}

.profile-usermenu ul li.active {
    border-bottom: none;
}

.profile-usermenu ul li.active a {
    color: #5b9bd1;
    background-color: #f6f9fb;
    border-left: 2px solid #5b9bd1;
    margin-left: -2px;
}

/* Profile Content */
.profile-content {
    padding: 20px;
    background: #fff;
    min-height: 800px;
    font-size: smaller;
}
/*CSS RANDOM*/
.top1 {
    margin-top: 10px;
}

.top2 {
    margin-top: 20px;
}

.top3 {
    margin-top: 30px;
}

.top4 {
    margin-top: 40px;
}

.top5 {
    margin-top: 50px;
}

.top6 {
    margin-top: 60px;
}

.top7 {
    margin-top: 70px;
}

.top8 {
    margin-top: 80px;
}

.top9 {
    margin-top: 90px;
}

.top10 {
    margin-top: 100px;
}

.bottom1 {
    margin-bottom: 10px;
}

.bottom2 {
    margin-bottom: 20px;
}

.bottom3 {
    margin-bottom: 30px;
}

.bottom4 {
    margin-bottom: 40px;
}

.bottom5 {
    margin-bottom: 50px;
}

.bottom6 {
    margin-bottom: 60px;
}

.bottom7 {
    margin-bottom: 70px;
}

.bottom8 {
    margin-bottom: 80px;
}

.bottom9 {
    margin-bottom: 90px;
}

.bottom10 {
    margin-bottom: 100px;
}

.padding {
    padding-bottom: 15px;
}

/*Custom Cards*/
.card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card {
    margin-top: 10px;
    box-sizing: border-box;
    border-radius: 2px;
    background-clip: padding-box;
}
.card span.card-title {
    color: #fff;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
}

.card .card-image {
    position: relative;
    overflow: hidden;
}
.card .card-image img {
    border-radius: 2px 2px 0 0;
    background-clip: padding-box;
    position: relative;
    z-index: -1;
}
.card .card-image span.card-title {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.card .card-content {
    padding: 5px 0 16px 16px;
    border-radius: 0 0 2px 2px;
    background-clip: padding-box;
    box-sizing: border-box;
}
.card .card-content p {
    margin: 0;
    color: inherit;
}
.card .card-content span.card-title {
    line-height: 48px;
}
.card .card-action {
    border-top: 1px solid rgba(160, 160, 160, 0.2);
    padding: 16px;
}
.card .card-action a {
    color: #ffab40;
    margin-right: 16px;
    transition: color 0.3s ease;
    text-transform: uppercase;
}
.card .card-action a:hover {
    color: #ffd8a6;
}
.media{
    line-height: 1.5em;
}

@media (max-width: 992px) {
    .profile-userpic img {
        width: 20%;
        height: 20%;
    }
}

@media (min-width: 768px) {
    .navbar-nav {
        margin-top: 10px;
    }
}

@media (min-width: 768px) {
    .navbar-nav > li > a {
        padding-top: 5px;
        padding-bottom: 9px;
    }
}